
<launch>

	<include file="$(find assignment_3)/launch/my_turtlebot_in_stage.launch"/>

	<node name="sky_walker" pkg="assignment_3" type="random_walker.py" respawn="false" output="screen"/>

	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen"/>

</launch>
